<div class="nav">
    <app-nav (darkModeOutput)="toggleDarkmode($event)"></app-nav>
</div>
<div class="row">
    <app-song [isDarkMode]="isDarkMode()" [gameWon]="gameWon()"></app-song>
</div>
<div class="row mt-2">
    <app-game [gameWon]="gameWon()"></app-game>
</div>
@if (gameWon()) {
    <p-dialog header="Edit Profile" [modal]="true" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-8">You won!</span>
        <!-- <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" (click)="visible = false" />
        </div> -->
    </p-dialog>
}