<div class="song">
    <div class="container d-flex flex-column align-items-center justify-content-center mt-4 gap-3">
        <!-- <p>{{songTitle()}}</p> -->
         <h1 [ngClass]="isDarkMode() ? 'gray' : ''">Songle.xyz</h1>
        @if (trackPaths() && trackPaths()?.length! > 0) {
            @for (trackPath of trackPaths(); track trackPath; let i = $index) {
                <div class="track" [ngClass]="currentStep() === i ? 'active' : 'not-active'">
                    <p>{{stages[i].name}}</p>
                    <i class="{{icons[i]}}"></i>
                </div>
            }
        }

        <div class="mt-4 d-flex gap-3">
                @if (!isPlaying()) {
                    <div class="play-btn" (click)="playTracks(currentStep())">
                        <i class="fa-solid fa-play fa-2xl"></i>
                    </div>
                } @else () {
                    <div class="pause-btn" (click)="setIsPlaying(false)">
                        <i class="fa-solid fa-pause fa-2xl"></i>
                    </div>                   
                }
        </div>
    </div>
</div>