<div class="container d-flex flex-column align-items-center justify-content-center mt-4">
    <p>{{songTitle()}}</p>
    @if (trackPaths() && trackPaths()?.length! > 0) {
        @for (trackPath of trackPaths(); track trackPath; let i = $index) {
            <div class="d-flex flex-column align-items-center mt-4">
                <p>{{stages[i].name}}</p>
                
                @if (!isPlaying()) {
                    <i class="fa-solid fa-play fa-2xl" (click)="playTracks(i)"></i>
                } @else if (isPlaying() && currentStep() === i) {
                    <i class="fa-solid fa-pause fa-2xl" (click)="setIsPlaying(false)"></i>
                } @else {
                    <i class="fa-solid fa-play fa-2xl" (click)="playTracks(i)"></i>
                }
            </div>           
        }
    }

    <!-- <div>
        @if (!isPlaying()) {
            <i class="fa-solid fa-play fa-2xl" (click)="setIsPlaying(true)"></i>
        } @else () {
            <i class="fa-solid fa-pause fa-2xl" (click)="setIsPlaying(false)"></i>
        }       
    </div> -->
</div>
