.progress-bar {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.track {
    position: relative;
}

.track p {
    z-index: 10;
}

.track i {
    z-index: 10;
}