<div class="upload-container">
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column gap-2">
            <div class="row">
                <div class="col-4">
                    <label for="url">Youtube URL</label>
                </div>
                <div class="col-8">
                    <input id="url" type="text" formControlName="url">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="songTitle">Song Title</label>
                </div>
                <div class="col-8">
                    <input id="songTitle" type="text" formControlName="songTitle">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="artist">Artist Name</label>
                </div>
                <div class="col-8">
                    <input id="artist" type="text" formControlName="artist">
                </div>
            </div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>