.upload-container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.song {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 35%;
}

.game {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.track {
    width: 100%;
    height: 3rem;
    border: 1px solid black;
    padding: 0 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    p {
        margin-bottom: 0;
        font-size: 1.2rem;
        text-shadow: 1px 1px 1px var(--p-indigo-800);
    }
}

.gray {
    color: var(--p-gray-300);
}

.black {
    color: black;
}

.active {
    background-color: var(--p-indigo-500);
    color: #fff;
}

.darkmode {
    body {
        background-color: var(--p-neutral-900);
    }

    .active {
        background-color: var(--p-indigo-400);
    }

    .not-active {
        background-color: var(--p-gray-300);
    }
}

.toggle-darkmode-btn {
    position:absolute;
    top: 1.5rem;
    right: 4rem;

    i {
        color: var(--p-indigo-600);
    }
}

.play-btn {
    border: 1.5px solid var(--p-indigo-600);
    border-radius: 100%;
    padding: 0.67rem;
    cursor: pointer;

    i {
        margin-left: 5px;
        color: var(--p-indigo-600);
    }
}

.pause-btn {
    border: 1.5px solid var(--p-indigo-600);
    border-radius: 100%;
    padding: 0.67rem 0.95rem;
    cursor: pointer;

    i {
        color: var(--p-indigo-600);
    }
}

body {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--p-sky-100) !important; */
    font-family: 'Atkinson Hyperlegible Mono', sans-serif !important;
}